body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}

body {
    background: url(../../images/fire.png) center 30%/18% no-repeat fixed, url(../../images/pattern.png) center center/cover no-repeat fixed, url(../../images/blossom.jpg) center center/cover no-repeat fixed;
    
}
h1 {
    background-color: #333;
    background-position: center center;
    text-align: center;
}

