body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

li {
    background-color: #ffc;
    display: inline-block;
    width: 20%;
}

p {
    border: 1px solid #CCC;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    margin-left: -4px; /* inline-block margin issue */
    width: 25%;
}